.git
.github
.gitignore
.venv
.idea
.vscode
__pycache__
**/__pycache__
**/*.pyc
**/*.pyo
**/.pytest_cache
.mypy_cache
.ruff_cache
tests
docs
openapi
helm
.identity
docker-compose.yml
*.md
!README.md
.env
.env.*
!.env.example

