__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
*.egg
.venv/
venv/
.env
*.env.local
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage
*.log

#Intellij
.idea/

# VS Code
.vscode/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars.env.local

# Helm
helm/charts/

# env
.env, .env.local

**/.DS_Store